h1 {
    color: red;
    font-size: 100px;
}
h2{
    color: greenyellow;
    font-size: 100px;
    a{
        color: blue;
        font-size: 100px;
        text-decoration: none;
    
    }
}
.numero {
    font-size: 45px;
    color: blueviolet;
    font-family: 'jetbrains mono';
}.maiuscula {
    text-transform: uppercase;
}